In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf


df=pd.read_csv("C:\\Users\\lenovo\\Downloads\\Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [81]:
# seperating dependent and independent features
X=df.iloc[:,3:13]
Y=df.iloc[:,13]
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [82]:
# hadling cloumns having classification (Geography and gender)
geography=pd.get_dummies(X["Geography"],drop_first=True,dtype=int)# by drop_first, we are removing first column as both spain and germany are zero means it is france
gender=pd.get_dummies(X["Gender"],drop_first=True,dtype=int)
geography.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [83]:
# now concating the new columns

X=X.drop(["Geography","Gender"], axis=1)# droping old columns

In [84]:
X=pd.concat([X,geography,gender], axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [85]:
# splitting traning and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train,Y_test=train_test_split(X,Y,test_size=0.2, random_state=0)

In [86]:
# standardization
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [87]:
# creating ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, ELU, ReLU
from tensorflow.keras.layers import Dropout

In [88]:
classifier=Sequential()

In [89]:
# adding input layer

classifier.add(Dense(7, input_shape=(11,), activation="relu"))# created first hidden layer having 7 neurons and input layer is automatically created

C:\Users\lenovo\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:85: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [90]:
#adding more hidden layer 
classifier.add(Dense(6, activation="relu"))

In [91]:
#adding output layer
classifier.add(Dense(1, activation="sigmoid"))

In [93]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [96]:
#to stop early when their is no improvement in accuracy
early_stopping=tf.keras.callbacks. EarlyStopping(
monitor="val_loss",
min_delta=0.0001,
patience=20,
verbose=1,
mode="auto",
baseline=None,
restore_best_weights=False,
)

In [95]:
model_history=classifier.fit(X_train, Y_train, validation_split=0.33, batch_size=10, epochs=50,callbacks=early_stopping)

Epoch 1/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - accuracy: 0.7812 - loss: 0.5285 - val_accuracy: 0.8046 - val_loss: 0.4594
Epoch 2/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8058 - loss: 0.4442 - val_accuracy: 0.8084 - val_loss: 0.4361
Epoch 3/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8115 - loss: 0.4356 - val_accuracy: 0.8122 - val_loss: 0.4285
Epoch 4/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8126 - loss: 0.4311 - val_accuracy: 0.8152 - val_loss: 0.4218
Epoch 5/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8164 - loss: 0.4240 - val_accuracy: 0.8164 - val_loss: 0.4168
Epoch 6/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8183 - loss: 0.4233 - val_accuracy: 0.8167 - val_loss: 0.4139
Epoch 7/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8264 - loss: 0.4004 - val_accuracy: 0.8232 - val_loss: 0.4093
Epoch 8/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8295 - loss: 0.4128 - val_accuracy: 0.8254 - val_loss: 0.4047
Epoch 9/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8317 - loss: 0.3968 - val_accuracy: 0.8266 - val_loss: 0.4022
Epoch 10/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8244 - loss: 0.4053 - val_accuracy: 0.8243 - val_loss: 0.3981
Epoch 11/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8384 - loss: 0.3874 - val_accuracy: 0.8251 - val_loss: 0.3953
Epoch 12/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8222 - loss: 0.4091 - val_accuracy: 0.8243 - val_loss: 0.3946
Epoch 13/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8438 - loss: 0.3670 - val_accuracy: 0.8198 - val_loss: 0.3970
Epoch 14/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8389 - loss: 0.3742 - val_accuracy: 0.8251 - val_loss: 0.3905
Epoch 15/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8345 - loss: 0.3771 - val_accuracy: 0.8270 - val_loss: 0.3900
Epoch 16/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8352 - loss: 0.3808 - val_accuracy: 0.8258 - val_loss: 0.3876
Epoch 17/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8346 - loss: 0.3723 - val_accuracy: 0.8251 - val_loss: 0.3869
Epoch 18/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8277 - loss: 0.3760 - val_accuracy: 0.8277 - val_loss: 0.3859
Epoch 19/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8274 - loss: 0.3695 - val_accuracy: 0.8296 - val_loss: 0.3839
Epoch 20/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8306 - loss: 0.3774 - val_accuracy: 0.8232 - val_loss: 0.3884
Epoch 21/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8379 - loss: 0.3750 - val_accuracy: 0.8342 - val_loss: 0.3832
Epoch 22/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8430 - loss: 0.3690 - val_accuracy: 0.8338 - val_loss: 0.3812
Epoch 23/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8490 - loss: 0.3615 - val_accuracy: 0.8376 - val_loss: 0.3816
Epoch 24/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8422 - loss: 0.3747 - val_accuracy: 0.8402 - val_loss: 0.3779
Epoch 25/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8422 - loss: 0.3676 - val_accuracy: 0.8402 - val_loss: 0.3766
Epoch 26/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8481 - loss: 0.3619 - val_accuracy: 0.8368 - val_loss: 0.3792
Epoch 27/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8429 - loss: 0.3692 - val_accuracy: 0.8368 - val_loss: 0.3760
Epoch 28/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8390 - loss: 0.3720 - val_accuracy: 0.8360 - val_loss: 0.3776
Epoch 29/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8511 - loss: 0.3607 - val_accuracy: 0.8425 - val_loss: 0.3739
Epoch 30/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8516 - loss: 0.3635 - val_accuracy: 0.8406 - val_loss: 0.3740
Epoch 31/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8498 - loss: 0.3548 - val_accuracy: 0.8448 - val_loss: 0.3731
Epoch 32/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8594 - loss: 0.3555 - val_accuracy: 0.8429 - val_loss: 0.3742
Epoch 33/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8456 - loss: 0.3704 - val_accuracy: 0.8436 - val_loss: 0.3728
Epoch 34/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8475 - loss: 0.3615 - val_accuracy: 0.8444 - val_loss: 0.3745
Epoch 35/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8564 - loss: 0.3459 - val_accuracy: 0.8432 - val_loss: 0.3736
Epoch 36/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8468 - loss: 0.3611 - val_accuracy: 0.8440 - val_loss: 0.3742
Epoch 37/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8526 - loss: 0.3552 - val_accuracy: 0.8478 - val_loss: 0.3697
Epoch 38/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8601 - loss: 0.3443 - val_accuracy: 0.8421 - val_loss: 0.3725
Epoch 39/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8537 - loss: 0.3432 - val_accuracy: 0.8406 - val_loss: 0.3736
Epoch 40/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8603 - loss: 0.3528 - val_accuracy: 0.8463 - val_loss: 0.3687
Epoch 41/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8594 - loss: 0.3498 - val_accuracy: 0.8444 - val_loss: 0.3692
Epoch 42/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8458 - loss: 0.3747 - val_accuracy: 0.8459 - val_loss: 0.3684
Epoch 43/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8536 - loss: 0.3632 - val_accuracy: 0.8466 - val_loss: 0.3682
Epoch 44/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8590 - loss: 0.3522 - val_accuracy: 0.8459 - val_loss: 0.3701
Epoch 45/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8612 - loss: 0.3446 - val_accuracy: 0.8489 - val_loss: 0.3677
Epoch 46/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8579 - loss: 0.3504 - val_accuracy: 0.8451 - val_loss: 0.3677
Epoch 47/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8677 - loss: 0.3411 - val_accuracy: 0.8504 - val_loss: 0.3660
Epoch 48/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.8652 - loss: 0.3399 - val_accuracy: 0.8463 - val_loss: 0.3677
Epoch 49/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.8540 - loss: 0.3537 - val_accuracy: 0.8478 - val_loss: 0.3673
Epoch 50/50
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8630 - loss: 0.3437 - val_accuracy: 0.8474 - val_loss: 0.3655

In [98]:
X_predict=classifier.predict(X_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

In [104]:
for x in X_predict:
    if x>0.5:
        print(x)

[0.70816255]
[0.57391226]
[0.6205229]
[0.70816255]
[0.54316145]
[0.8543061]
[0.9085726]
[0.79795325]
[0.9501324]
[0.6385889]
[0.8725319]
[0.6873523]
[0.64758694]
[0.5668423]
[0.6904187]
[0.5542189]
[0.63744485]
[0.75599027]
[0.57996756]
[0.60491204]
[0.5101205]
[0.60835445]
[0.70816255]
[0.85999703]
[0.93430823]
[0.64599013]
[0.5336538]
[0.78253686]
[0.5555395]
[0.70816255]
[0.6928078]
[0.62078595]
[0.8267015]
[0.7939625]
[0.61008406]
[0.5562715]
[0.76558495]
[0.78469086]
[0.52981293]
[0.7940035]
[0.70816255]
[0.7123679]
[0.9553482]
[0.5135437]
[0.63336813]
[0.7853308]
[0.70816255]
[0.70816255]
[0.71861005]
[0.6878102]
[0.68703425]
[0.90451866]
[0.59405893]
[0.71976113]
[0.59200335]
[0.62379825]
[0.51421785]
[0.8134314]
[0.5554327]
[0.63977444]
[0.82836086]
[0.80709386]
[0.7306478]
[0.777524]
[0.9128642]
[0.66893625]
[0.75801384]
[0.92125714]
[0.7408217]
[0.7239016]
[0.72656095]
[0.62007225]
[0.73688245]
[0.71656215]
[0.5747845]
[0.70816255]
[0.7315496]
[0.70816255]
[0.67674404]
[0.6816206]
[0.5964325]
[0.6175642]
[0.58013433]
[0.5597102]
[0.5894262]
[0.6735049]
[0.70816255]
[0.6918678]
[0.6756597]
[0.8960188]
[0.7352097]
[0.6462277]
[0.58366066]
[0.7157516]
[0.59017247]
[0.60813606]
[0.6070576]
[0.61644065]
[0.61449516]
[0.5548231]
[0.5318357]
[0.6185886]
[0.80656594]
[0.6323852]
[0.5196248]
[0.6268018]
[0.6728848]
[0.924245]
[0.70816255]
[0.508601]
[0.5314332]
[0.6999625]
[0.6647519]
[0.59495264]
[0.6437813]
[0.70816255]
[0.57915425]
[0.50221527]
[0.830639]
[0.70816255]
[0.8796621]
[0.5375644]
[0.70816255]
[0.527766]
[0.70816255]
[0.6938962]
[0.54699475]
[0.5303947]
[0.5480088]
[0.6808894]
[0.64858925]
[0.70093364]
[0.6053536]
[0.54691845]
[0.63302153]
[0.5966754]
[0.67376995]
[0.7740558]
[0.60237515]
[0.7781109]
[0.9193138]
[0.56524694]
[0.8084327]
[0.851561]
[0.5195294]
[0.66178405]
[0.6617249]
[0.6021202]
[0.70816255]
[0.79249626]
[0.5689553]
[0.6108526]
[0.53840566]
[0.9167957]
[0.7414919]
[0.8760258]
[0.9104558]
[0.9345444]
[0.66325855]
[0.70816255]
[0.64915735]
[0.5714897]
[0.695197]
[0.7783262]
[0.80343455]
[0.58262205]
[0.70816255]
[0.6370386]
[0.74137926]
[0.60678756]
[0.506194]
[0.8758398]
[0.51245743]
[0.5053594]
[0.5798799]
[0.8189256]
[0.5893371]
[0.77664566]
[0.60448194]
[0.50246274]
[0.70559657]
[0.58683467]
[0.6545013]
[0.89338857]
[0.70816255]
[0.53038704]
[0.62542164]
[0.57345694]
[0.69166887]
[0.68440545]
[0.69852936]
[0.84715694]
[0.50603104]
[0.7430936]
[0.70816255]
[0.6612679]
[0.51043373]
[0.70816255]
[0.89494485]
[0.6723014]
[0.6561668]
[0.70816255]
[0.7229352]
[0.7764765]
[0.70627916]
[0.905007]
[0.50609946]
[0.8437688]
[0.6384274]
[0.7091718]
[0.59108424]
[0.70816255]
[0.8970569]
[0.50719297]
[0.8136189]
[0.89103055]
[0.7313472]
[0.50769746]
[0.7871432]
[0.70816255]
[0.5456648]
[0.5502435]
[0.67358613]
[0.5519475]
[0.6921215]
[0.7741259]
[0.72927696]
[0.50767744]
[0.95105845]
[0.7028762]
[0.70816255]
[0.70816255]
[0.74244004]
[0.51044524]
[0.7192267]
[0.8735249]
[0.5838835]
[0.51572025]
[0.60900795]
[0.6907064]
[0.52850497]
[0.5449281]
[0.61913866]
[0.69505024]
[0.71201324]
[0.6688955]
[0.7733649]
[0.6273577]
[0.6712462]
[0.8927757]
[0.5746062]
[0.6800641]
[0.676623]
[0.9261536]
[0.6419792]
[0.6313677]
[0.55212516]
[0.6901257]
[0.8125964]
[0.602313]
[0.7026113]
[0.5041721]
[0.752506]